*.iml
.gradle
/local.properties
/Lesson1/.idea/caches
/Lesson1/.idea/libraries
/Lesson1/.idea/modules.xml
/Lesson1/.idea/workspace.xml
/Lesson1/.idea/navEditor.xml
/Lesson1/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
